{% extends base %}
{% block content %}

<div class=" bg-light rounded p-4 mb-4">
    <form method="GET">
        <label for="from_date">From:</label>
        <input class="form-control w-25 d-inline" type="date" name="from" id="from_date" value="{{ from|default:'' }}">

        <label for="to_date">To:</label>
        <input class="form-control w-25 d-inline" type="date" name="to" id="to_date" value="{{ to|default:'' }}">

        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>


<div class="container mt-4">
    <h2>All Transactions and Installments</h2>

   

    <div class="bg-light rounded p-4 mb-4">

        <h6>Student Payments</h6>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Student</th>
                        <th>Course</th>
                        <th>Amount Paid</th>
                        <th>Payment Method</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for installment in installments %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ installment.enrollment.student.name }}</td>
                        <td>{{ installment.enrollment.course.name }}</td>
                        <td class="text-success">Rs {{ installment.amount_paid }} +</td>
                        <td>{{ installment.transaction_method }}</td>
                        <td>{{ installment.status }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No installments found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="bg-light rounded p-4 mb-4">

        <h6>Transactions</h6>
        <div class="table-responsive mb-4">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.description }}</td>
                        <td class="{% if transaction.transaction_type == "outgoing" %}text-danger{% else %}text-success{% endif %}">Rs {{ transaction.amount }}
                            {% if transaction.transaction_type == "outgoing" %}-{% else %}+{% endif %}
                        </td>
                        <td>{{ transaction.status }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No transactions found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-angle-double-down fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Deposit</p>
                    <h6 class="mb-0">Rs {{ total_deposit }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-angle-double-up fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Withdraw</p>
                    <h6 class="mb-0">Rs {{ total_withdraw }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-wallet fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Balance</p>
                        <h6 class="mb-0">Rs {{ total_balance }}</h6>
                    </div>
            </div>
        </div>

    
</div>

{% endblock %}