{% extends base %}
{% block content %}

<div class=" bg-light rounded p-4 mb-4">
    <form method="GET">
        <label for="from_date">From:</label>
        <input class="form-control w-25 d-inline" type="date" name="from" id="from_date" value="{{ from|default:'' }}">

        <label for="to_date">To:</label>
        <input class="form-control w-25 d-inline" type="date" name="to" id="to_date" value="{{ to|default:'' }}">

        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>

<div class="bg-light rounded p-4 mb-4">    
<div class="container mt-4">
    <h2>Default Students</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student Name</th>
                    <th>Roll Number</th>
                    <th>Course</th>
                    <th>Amount Due</th>
                    <th>Total Paid</th>
                    <th>Total</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for installment in installments %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ installment.student.name }}</td>
                    <td>{{ installment.student.roll_number }}</td>
                    <td>{{ installment.course.name }}</td>
                    <td>Rs {{ installment.remaining_fee }}</td>
                    <td>Rs {{ installment.total_paid }}</td>
                    <td>Rs {{ installment.course_fee }}</td>
                    <td>{{ installment.last_installment_date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No default students found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
