{% extends base %}

{% block content %}

<div class=" bg-light rounded p-4 mb-4">
    <form method="GET">
        <label for="from_date">From:</label>
        <input class="form-control w-25 d-inline" type="date" name="from" id="from_date" value="{{ from|default:'' }}">

        <label for="to_date">To:</label>
        <input class="form-control w-25 d-inline" type="date" name="to" id="to_date" value="{{ to|default:'' }}">

        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>



<div class="bg-light rounded p-4 mb-4">

<div class="container mt-4">
    <h2>New Joinings</h2>
    <div class="table-responsive">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Roll Number</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Refrence</th>
                        <th>Enrollment Via</th>
                        <th>Course</th>
                        <th>Enrolled By</th>
                        <th>Registeration Date</th>
                        <th>Joining Date</th>
                        <th>Payment Method</th>
                        <th>Paid</th>
                        <th>Total Paid</th>
                        <th>Total Fee</th>
                        {% if request.user.role == 'superuser' %}
                        <th>Status</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student.roll_number }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.phone_number }}</td>
                        <td>{{ student.reference }}</td>
                        <td>{{ student.enrollment_method }}</td>
                        <td>{{ student.course_name }}</td>
                        <td>{{ student.who_enrolled.username }}</td>
                        <td>{{student.created_at}}</td>
                        <td>{{student.enrollment_set.first.joined_date}}</td>
                        <td>{{student.transaction_method}}</td>
                        <td>{{student.paid}}</td>
                        <td>{{ student.total_received }}</td>
                        <td>{{ student.total_fee }}</td>
                        {% if request.user.role == 'superuser' %}
                        <td>
                            <input type="hidden" name="approve_record_{{ student.transaction_id }}" value="off">

                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="approve_record_{{ student.transaction_id }}" 
                                {% if student.latest_status == 'approved' %}checked{% endif %}
                            >
                        </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="15" class="text-center">No new Joinings today.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.user.role == 'superuser' %}
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Update Status">
            </div>
            {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock %}
