{% extends base %}

{% block content %}

<div class="bg-light rounded p-4 mb-4">

<div class="mb-4">
    <form method="GET">
        <label for="filter">Filter By:</label>
        <select name="filter" id="filter" class="form-control w-25 d-inline">
            <option value="today" {% if filter_type == 'today' %}selected{% endif %}>Today</option>
            <option value="weekly" {% if filter_type == 'weekly' %}selected{% endif %}>Weekly</option>
            <option value="monthly" {% if filter_type == 'monthly' %}selected{% endif %}>Monthly</option>
        </select>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>

</div>
<div class="bg-light rounded p-4 mb-4">

<div class="container mt-4">
    <h2>New Seats</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Roll Number</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Refrence</th>
                    <th>Enrollment Via</th>
                    <th>Enrolled By</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.roll_number }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.reference }}</td>
                    <td>{{ student.enrollment_method }}</td>
                    <td>{{ student.who_enrolled.username }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No new seats today.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
