{% extends base %}

{% block content %}

<div class=" bg-light rounded p-4 mb-4">
    <form method="GET">
        <label for="from_date">From:</label>
        <input class="form-control w-25 d-inline" type="date" name="from" id="from_date" value="{{ from|default:'' }}">

        <label for="to_date">To:</label>
        <input class="form-control w-25 d-inline" type="date" name="to" id="to_date" value="{{ to|default:'' }}">

        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>



<div class="bg-light rounded p-4 mb-4">

<div class="container mt-4">
    <h2>New Recovery</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Roll Number</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Collected By</th>             
                    <th>Payment Method</th>   
                    <th>Date Paid</th>
                    <th>Paid</th>
                    <th>Total Paid</th>
                    <th>Total Fee</th>
                </tr>
            </thead>
            <tbody>
                {% for installment in installments %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ installment.roll_number }}</td>
                    <td>{{ installment.student_name }}</td>
                    <td>{{ installment.course_name }}</td>
                    <td>{{ installment.collected_by_username|default:"N/A" }}</td> 
                    <td>{{ installment.payment_method|capfirst }}</td> 
                    <td>{{ installment.date_paid }}</td>
                    <td>Rs. {{ installment.amount_paid }}</td>
                    <td>Rs. {{ installment.total_received }}</td>
                    <td>Rs. {{ installment.total_fee }}</td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No new Joinings today.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
